<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playing with Ecmascript Modules</title>
</head>
<body>

    <div id="todo-list">
        <ul>
            <input v-model="item">
            <button v-on:click="addNew">Add New</button>
            <li v-for="item in items">
                {{item.text}}
            </li>
        </ul>
    </div>

    <script type="module" src="index.js"></script>
</body>
</html>